#
#=========================================================================
#
# IBM XSLT Processor
# Licensed Materials - Property of IBM
# (C) Copyright IBM Corp. 2002, 2004.   All Rights Reserved.
# US Government Users Restricted Rights - Use, duplication, or disclosure
# restricted by GSA ADP Schedule Contract with IBM Corp.
#
#=========================================================================
# Copyright 2004 The Apache Software Foundation.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#=========================================================================
#
#  JAXP provides a mechanism for applications to parse and transform 
#  XML documents independent of any given XML processing implementation.  
#  An application can swap between different implementations without 
#  having to change any code. This is accomplished, in part by using
#  "Factory Finder's" to locate a particular implementation, using a
#  prescribed ordered lookup procedure.   
#
#  IBM XSLT4J conforms to the JAXP 1.2 specification and therefore uses
#  the following procedure to determine which implementations to use
#  for the TransformerFactory, SAXParserFactory and the 
#  DocumentBuilderFactory.
#
#  * first, XSLT4J will examine the system properties for the 
#    following keys:
#      - javax.xml.transform.TransformerFactory
#      - javax.xml.parsers.SAXParserFactory
#      - javax.xml.parsers.DocumentBuilderFactory
#  * next, it will try to find a file called jaxp.properties in
#    the lib subdirectory of your JRE installation and look
#    for the keys above
#  * next, it will examine all the jars on your classpath to
#    try and find one with the appropriate entries in its
#    META-INF/services directory
#  * if all else fails, it will use a hardcoded default.  The
#    defaults for XSLT4J are:
#      - org.apache.xalan.processor.TransformerFactoryImpl
#         ** this default tells XSLT4J to use the Interpretive
#            processor.  If you want to use the XSLT4J Compiled 
#            (XSLTC) processor, change the entry in this file or 
#            programmatically set the system property for the
#            javax.xml.transform.TransformerFactory key to 
#            org.apache.xalan.xsltc.trax.TransformerFactoryImpl
#      - org.apache.xerces.jaxp.SAXParserFactoryImpl
#      - org.apache.xerces.jaxp.DocumentBuilderFactoryImpl  
#
#  The third step can be quite time-consuming, especially if you
#  have a lot of jars on your classpath and run applications which
#  require the creation of lots of transformer and parser factories.
#
#  To improve XML parsing and processing performance, rename this 
#  file to jaxp.properties and copy it into your JRE's lib directory.
#  You will also need to uncomment the entries below that you want
#  to use. 
#
#  ====================================================================
#
#javax.xml.transform.TransformerFactory=org.apache.xalan.processor.TransformerFactoryImpl
#javax.xml.parsers.SAXParserFactory=org.apache.xerces.jaxp.SAXParserFactoryImpl
#javax.xml.parsers.DocumentBuilderFactory=org.apache.xerces.jaxp.DocumentBuilderFactoryImpl
